Repository linuxfoundation/easycla, pull requests merged in 2020-02, with the labels that each got.

#565 Project Console:View Signatures
  cla-backend-go/signatures/repository.go
Labels: backend

#600 Added/Updated Golang v3 Project CRUD Service
  .circleci/config.yml
  cla-backend-go/contractgroup/handlers.go
  cla-backend-go/contractgroup/repository.go
  cla-backend-go/contractgroup/service.go
  cla-backend-go/events/repository.go
  cla-backend-go/project/handlers.go
  cla-backend-go/project/models.go
  cla-backend-go/project/repository.go
  cla-backend-go/project/service.go
  cla-backend-go/swagger/cla.yaml
  cla-backend-go/utils/utils.go
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.ts
  infra/get-ssm-parameter.ts
  infra/get-ssm-parameters.ts
  infra/package.json
  infra/put-ssm-parameter.ts
  infra/yarn.lock
  tests/rest/readme.md
  tests/rest/test_project_management_console.tavern.yaml
  tests/rest/test_v3_project_api.tavern.yaml
Labels: backend, v1

#607 Reviewed and Updated Request Corporate Signature Logic
  .circleci/config.yml
  cla-backend/cla/models/docusign_models.py
  tests/rest/easycla-postman-collection.json
  tests/rest/package.json
  tests/rest/yarn.lock
Labels: backend, bug, v1

#617 Updated Metrics Endpoints
  cla-backend-go/company/handlers.go
  cla-backend-go/company/repository.go
  cla-backend-go/company/service.go
  cla-backend-go/project/handlers.go
  cla-backend-go/project/repository.go
  cla-backend-go/project/service.go
  cla-backend-go/signatures/dbmodels.go
  cla-backend-go/signatures/handlers.go
  cla-backend-go/signatures/repository.go
  cla-backend-go/swagger/cla.yaml
  tests/rest/test_v3_metrics_api.tavern.yaml
Labels: backend, enhancement, v1
