Repository linuxfoundation/easycla, pull requests merged in 2020-03, with the labels that each got.

#648 #623 Project Description text style is different in All Projects and CLA Project page
  cla-frontend-project-console/src/ionic/components/section-header/section-header.scss
Labels: 05 - Low, Console - Proj, good first issue, size:Small

#649 #608 UI issues when CLA group name is more than 93 characters
  cla-frontend-project-console/src/ionic/modals/cla-contract-config-modal/cla-contract-config-modal.html
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.html
Labels: 05 - Low, Console - Proj, bug, good first issue, size:Small

#650 #602 URL and data overlaps when more than 27 characters are entered in the GitHub Organization Url field
  cla-frontend-project-console/src/ionic/modals/cla-organization-provider-modal/cla-organization-provider-modal.html
  cla-frontend-project-console/src/ionic/modals/cla-organization-provider-modal/cla-organization-provider-modal.scss
Labels: 05 - Low, Console - Proj, bug, good first issue, size:Small

#651 #622 Project logo is not displayed in CLA project page
  cla-frontend-project-console/src/ionic/components/section-header/section-header.html
  cla-frontend-project-console/src/ionic/components/section-header/section-header.scss
Labels: 05 - Low, Console - Proj, bug, good first issue, size:X-Small

#654 Text displayed for Corporate CLA and Individual CLA should be consistent
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.html
Labels: 05 - Low, Console - Proj, good first issue, size:X-Small

#655 User is able to create CLA Group and generate templates when CLA type (CCLA and ICLA) is not checked
  cla-frontend-project-console/src/ionic/modals/cla-contract-config-modal/cla-contract-config-modal.html
  cla-frontend-project-console/src/ionic/modals/cla-contract-config-modal/cla-contract-config-modal.ts
Labels: 04 - Med Low, Console - Proj, bug, v1

#652 User is redirected to the respective home page when clicked on Linux Foundation logo in menu bar
  cla-frontend-corporate-console/src/ionic/app/app.component.ts
  cla-frontend-corporate-console/src/ionic/app/app.html
  cla-frontend-project-console/src/ionic/app/app.component.ts
  cla-frontend-project-console/src/ionic/app/app.html
Labels: 05 - Low, Console - Corp, Console - Proj, bug, good first issue, size:X-Small, v1

#674 User is able to generate templates when project details are not provided
  cla-frontend-project-console/src/ionic/pages/project/project-cla-template/project-cla-template.html
  cla-frontend-project-console/src/ionic/pages/project/project-cla-template/project-cla-template.scss
  cla-frontend-project-console/src/ionic/pages/project/project-cla-template/project-cla-template.ts
Labels: 04 - Med Low, Console - Proj, bug, v1

#679 Error when Select company field is cleared and clicked on Add Company
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.html
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.ts
Labels: 05 - Low, Console - Corp, bug, v1

#680 Not able to see other companies when a company is added with too many characters
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.html
  cla-frontend-corporate-console/src/ionic/pages/companies-page/companies-page.html
  cla-frontend-corporate-console/src/ionic/pages/companies-page/companies-page.ts
Labels: 05 - Low, Console - Corp, size:Small, v1

#686 Updated Create CLA Group Logic
  cla-backend-go/project/repository.go
  cla-backend-go/template/repository.go
Labels: backend

#690 Github Organizations are not aligned properly
  cla-frontend-project-console/src/ionic/models/github-organisation-model.ts
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.html
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.scss
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.ts
  cla-frontend-project-console/src/ionic/services/cla.service.ts
Labels: 04 - Med Low, Console - Proj, bug, size:Small, v1

#702 Landing page doesn't render properly for all window sizes
  cla-frontend-contributor-console/src/ionic/layout/cla-footer/cla-footer.scss
  cla-frontend-contributor-console/src/ionic/pages/cla-landing/cla-landing.html
Labels: 05 - Low, Console - Contrib, bug, v1

#704 Corporate Console: Submit button in "Select Company" Popup is not available as per the note
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.html
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.ts
Labels: 05 - Low, Console - Corp, bug, size:Small, v1

#709 Contributor Console - Able to see Corporate option for Project that has only ICLA enabled
  cla-frontend-contributor-console/src/ionic/pages/cla-landing/cla-landing.html
Labels: 05 - Low, Console - Contrib, bug, v1

#716 Employee/Developer pending request count not updated and requests not visible for the project in UI
  cla-frontend-corporate-console/src/ionic/pages/company-page/company-page.ts
Labels: 05 - Low, Console - Corp, v1

#725 Error while adding new company
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.ts
Labels: 05 - Low, Console - Corp, bug, v1

#730 View CLA Manager For <Project> popup is still displayed when navigated back to All Companies page.
  cla-frontend-corporate-console/src/ionic/modals/view-cla-managers-modal/view-cla-managers-modal.ts
Labels: 05 - Low, Console - Corp, bug, v1

#738 Some times Projects are not returned and error is displayed in console in Corporate
  cla-frontend-corporate-console/src/ionic/modals/projects-ccla-select-modal/projects-ccla-select-modal.ts
  cla-frontend-corporate-console/src/ionic/pages/company-page/company-page.ts
Labels: 04 - Med Low, Console - Corp, bug, v1

#740 Project Management Console: Popup window is still displayed when navigated back to All Projects page in the browser
  cla-frontend-project-console/src/ionic/modals/cla-contract-config-modal/cla-contract-config-modal.ts
Labels: 05 - Low, Console - Proj, bug, v1

#742 UI changes on company page.
  cla-frontend-corporate-console/src/ionic/pages/companies-page/companies-page.html
  cla-frontend-corporate-console/src/ionic/pages/companies-page/companies-page.scss
Labels: 05 - Low, Console - Corp, bug, v1

#745 Corporate Console: Submit button in "Select Company" Popup is not available as per the note
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.html
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.ts
Labels: 05 - Low, Console - Corp, bug, v1

#746 Both CCLA and ICLA templates are generated when CLA group has only ICLA or only CCLA type selected
  cla-frontend-project-console/src/ionic/pages/project/project-cla-template/project-cla-template.html
Labels: 05 - Low, Console - Proj, bug, v1

#755 Company name overlaps with Cancel and Send button when company has not signed CLA
  cla-frontend-contributor-console/src/ionic/modals/cla-send-cla-manager-email-modal/cla-send-cla-manager-email-modal.html
  cla-frontend-contributor-console/src/ionic/modals/cla-send-cla-manager-email-modal/cla-send-cla-manager-email-modal.scss
  cla-frontend-contributor-console/src/ionic/modals/cla-send-cla-manager-email-modal/cla-send-cla-manager-email-modal.ts
Labels: 05 - Low, Console - Contrib, bug, v1

#762 New user is not able to see added companies in Corporate Console
  cla-frontend-corporate-console/src/ionic/pages/companies-page/companies-page.html
  cla-frontend-corporate-console/src/ionic/pages/companies-page/companies-page.ts
Labels: 05 - Low, Console - Corp, bug, v1

#763 User(Contributor) has to scroll down to view all options in the Contributor Console
  cla-frontend-contributor-console/src/ionic/pages/cla-landing/cla-landing.html
  cla-frontend-contributor-console/src/ionic/pages/cla-landing/cla-landing.scss
Labels: 04 - Med Low, Console - Contrib, bug, v1

#771 Notification Sent message is not displayed when clicked on Request option while creating duplicate company
  cla-frontend-corporate-console/src/ionic/modals/add-company-modal/add-company-modal.ts
Labels: 05 - Low, Console - Corp, bug, v1

#772 Missing data and Overlap issues when Project name is too long
  cla-frontend-corporate-console/src/ionic/modals/view-cla-managers-modal/view-cla-managers-modal.html
  cla-frontend-corporate-console/src/ionic/modals/view-cla-managers-modal/view-cla-managers-modal.scss
  cla-frontend-corporate-console/src/ionic/modals/view-cla-managers-modal/view-cla-managers-modal.ts
  cla-frontend-corporate-console/src/ionic/pages/company-page/company-page.html
  cla-frontend-corporate-console/src/ionic/pages/company-page/company-page.scss
Labels: 04 - Med Low, Console - Corp, bug, v1

#778 UI hangs with spinning icon when project is entered and enter button is hit while trying to sign cla.
  cla-frontend-corporate-console/src/ionic/modals/projects-ccla-select-modal/projects-ccla-select-modal.html
  cla-frontend-corporate-console/src/ionic/modals/projects-ccla-select-modal/projects-ccla-select-modal.ts
Labels: 05 - Low, Console - Corp, bug, v1

#751 Github Organizations are not aligned properly and the card looks clumsy
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.html
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.ts
Labels: 05 - Low, Console - Proj, v1
