Repository linuxfoundation/easycla, pull requests merged in 2020-05, with the labels that each got.

#1051 Refactor code for company projects view and handled error
  cla-frontend-corporate-console/src/ionic/pages/company-page/company-page.ts
Labels: 01 - High, Console - Corp, bug, v1

#1053 Typo error fix for status.
  cla-frontend-corporate-console/src/ionic/pages/company-page/company-page.ts
Labels: 01 - High

#1059 Project Console: "View Companies" table error
  cla-frontend-corporate-console/src/ionic/pages/companies-page/companies-page.ts
  cla-frontend-corporate-console/src/ionic/pages/company-page/company-page.ts
  cla-frontend-project-console/src/ionic/modals/cla-contract-view-companies-signatures-modal/cla-contract-view-companies-signatures-modal.html
  cla-frontend-project-console/src/ionic/modals/cla-contract-view-companies-signatures-modal/cla-contract-view-companies-signatures-modal.module.ts
  cla-frontend-project-console/src/ionic/modals/cla-contract-view-companies-signatures-modal/cla-contract-view-companies-signatures-modal.ts
  cla-frontend-project-console/src/ionic/modals/cla-contract-view-signatures-modal/cla-contract-view-signatures-modal.html
  cla-frontend-project-console/src/ionic/modals/cla-contract-view-signatures-modal/cla-contract-view-signatures-modal.module.ts
  cla-frontend-project-console/src/ionic/modals/cla-contract-view-signatures-modal/cla-contract-view-signatures-modal.ts
  cla-frontend-project-console/src/ionic/pages/project/project-cla/project-cla.ts
  cla-frontend-project-console/src/ionic/pipes/trim-characters.pipe.ts
  cla-frontend-project-console/src/ionic/shared.module.ts
Labels: 01 - High

#1097 [#1096] - Get Access Link Update
  cla-frontend-project-console/src/ionic/constants/general.ts
Labels: Console - Proj, documentation

#1123 Corporate Console - No Action performed and error displayed in Console when trying to add CLA Manager who does not exist.
  cla-frontend-corporate-console/src/ionic/modals/add-manager-modal/add-manager-modal.html
  cla-frontend-corporate-console/src/ionic/modals/add-manager-modal/add-manager-modal.ts
  cla-frontend-corporate-console/src/ionic/services/cla.service.ts
  cla-frontend-corporate-console/src/ionic/validators/lfid.ts
  cla-frontend-corporate-console/src/ionic/validators/user-name.ts
Labels: 03 - Med, Console - Corp, bug, v1
